/*
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0px;
  border: 0px;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
h1,
h2,
h3,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;

  letter-spacing: 0.03em;
}


.icons {
  margin: 25px 100px;
  padding: 0;
}

img {
  margin: 0;
  border: 0;
  border-bottom: 0px;
  border-top: 0px;
  border-style: none;
}
figure {
  margin: 0;
  border-bottom: 0px;
  border-top: 0px;
  border: none;
  border-width: 0px;
}
figcaption {
  margin: 0;
  border-top: 0px;
  border-style: none;
}
a {
  text-decoration: inherit;
  color: inherit;
}



.paragraph {
  padding: 94px 0px 94px 0px;
  background-color: #ffffff;
  margin: 0 auto;
}

section {
  background-color: #ffffff;
}

header {
  background-color: #ffffff;
  margin: 0 auto;
  border-bottom: 1px;
}
*/
.header-__logo {
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1, 19;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.logo-main--accent {
  color: #2196f3;
}

menu {
  display: flex;
}

menu li {
  list-style-type: none;
  margin: 0 auto;
  display: inline;
}

.contact ul,
li {
  list-style-type: none;
  display: inline;
}
menu,
.contact {
  display: inline;
}
.menu-list a:focus,
.menu-list a:hover,
.menu-list a:active {
  color: #2196f3;
  cursor: pointer;
  text-decoration: none #2196f3;
  background-color: #ffffff;
}

/*
.button:focus,
.button:hover,
.button:active {
  cursor: pointer;
  text-decoration: underline #2196f3;
}
*/
.header-title:focus,
.header-title:hover {
  cursor: pointer;
}

.link-mail-top:focus > .envelope-smartphone,
.link-mail-top:hover > .envelope-smartphone {
  cursor: pointer;
  fill: #2196f3;
}

.link-phone-top:focus > .envelope-smartphone,
.link-phone-top:hover > .envelope-smartphone {
  cursor: pointer;
  fill: #2196f3;
}
.contact-links-mail,
.contact-links-phone {
  color: rgba(255, 255, 255, 0.6);
}
a:hover,
a.focus {
  color: #2196f3;
  text-decoration: none;
}

.menu-list a {
  font-weight: 500;
  font-size: 14px;
  color: #212121;
  text-decoration: none;
  display: inline;
}
nav {
  display: inline;
}
.contact-data-mail {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  background-color: #ffffff;
  padding-right: 50px;
  display: inline;
}
.contact-data-phone-number {
  font-weight: 500;
  font-size: 14px;
  color: #757575;
  background-color: #ffffff;
  padding-left: 10px;
  display: inline;
}
.envelope-smartphone {
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*
h1 {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  max-width: 692px;
  padding-top: 200px;
  padding-left: 0px;
  padding-right: 0px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}
.background {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-background.jpg);
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
}

.background__button {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  width: 200px;
  padding: 10px 0;
  margin: 30px 700px 200px 700px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.paragraph__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1, 14;
  color: #212121;
  text-transform: uppercase;
  background-color: #ffffff;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


ul {
  list-style-type: none;
}

.team-member {
  background-color: #ffffff;
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.team-member__names {
  margin: 0;
  border-bottom: 0px;
  border-top: 0px;
  border-style: none;
  display: flex;
  justify-content: center;
}

.team-member__item {
  display: block;
  border: 0px;
  border-bottom: 0px;
  border-top: 0px;
  border-width: 0px;
  border-style: none;
  margin: 0;
}

.team-member__description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  background-color: #ffffff;
  margin: 0 auto;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: center;
}

/*
.goals-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 17;
  color: #212121;
  background-color: #ffffff;
  text-align: center;
  padding-bottom: 50px;
}

.team-member__names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 19;
  color: #212121;
  background-color: #ffffff;
  font-weight: 500;
  padding: 30px 0px 0px 0px;
  justify-content: center;
}

.teamcard-socials {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
.teamcard-socials__item {
  width: 44px;
  height: 44px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
}

.teamcard-socials__item:hover .teamcard-socials__image,
.teamcard-socials__item:focus .teamcard-socials__image {
  fill: #ffffff;
}
.teamcard-socials__image {
  fill: #afb1b8;
}

.teamcard-socials__item:hover,
.teamcard-socials__item:focus {
  border: 1px solid #2196f3;
  background-color: #2196f3;
}
*/

/*
.paragraph {
  left: 0px;
  top: 1449px;
  background-color: #ffffff;
}

.goals {
  background-color: #ffffff;
}

.clients {
  background-color: #ffffff;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 50;
  padding-top: 94px;
}
.clients-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 36px;
  padding-bottom: 94px;
}
.clients-list__item {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  padding-left: 32px;
  padding-top: 17.71px;
}
.clients-list__icon {
  fill: #afb1b8;
  display: flex;
  justify-content: center;
}
.clients-list__item:hover .clients-list__icon,
.clients-list__item:focus .clients-list__icon {
  fill: #2196f3;
}
.clients-list__item:hover,
.clients-list__item:focus {
  border: 1px solid #2196f3;
}

.clients-list__icon,
.clients-list__icon {
  fill: #afb1b8;
}
/*
/*
.team {
  background-color: #f5f4fa;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  margin: 0 auto;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  padding-bottom: 50px;
}


.paragraph-list {
  display: flex;
  padding-bottom: 94px;
  justify-content: space-around;
  background-color: #ffffff;
  list-style: none;
  margin-top: 0;
  margin-bottom: 30px;
  padding: 0;
  gap: 40px;
}

.paragraph-list__item {
  width: 270px;
  height: 120px;
  border: 1px solid #f5f4fa;
  border-radius: 4px;
  padding-left: 100px;
  padding-top: 25px;
  background: #f5f4fa;
}

.paragraph-description {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 40px;
}


.paragraph-description p {
  line-height: 1.71;
  padding-top: 10px;
  font-size: 14px;
  color: #757575;
  width: 270px;
  font-weight: 400;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.paragraph-list__icon:hover,
.paragraph-list__icon:focus {
  fill: #2196f3;
}

.paragraph-item:focus {
  border: 1px solid #2196f3;
}
.paragraph-item:hover {
  border: 1px solid #2196f3;
}


.goals-list {
  display: flex;
  background-color: #ffffff;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.goals__item {
  position: relative;
}


.goals__description {
  position: absolute;
  top: 224px;
  margin: 0;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  padding-top: 27px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
*/
.header-title-footer {
  font-family: Raleway;
  font-style: bold;
  font-size: 26px;
  font-weight: 700;
  line-height: 1, 19;
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 60px;
}

footer {
  left: 0px;
  margin: 0 auto;
  background: #2f303a;
  text-decoration: none;
}
.footer-style {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
}

.footer-flex {
  display: flex;
  align-items: baseline;
  gap: 70px;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
  padding-top: 20px;
}
.contact-links-mail .link:focus,
.link:hover {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration-line: underline;
}
.contact-links-phone .link:focus,
.link:hover {
  font-style: normal;
  font-size: 14px;
  line-height: 1, 71;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.contact-links-mail :not(:first-child) {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
}
.contact-links-mail {
  padding-bottom: 9px;
  padding-top: 9px;
}

.contact-links-phone {
  padding-bottom: 60px;
  padding-top: 9px;
}

.contact-links-phone :nth-child(1) {
  color: rgba(255, 255, 255, 0.6);
}
.join-us {
  font-family: Roboto;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 12px;
  padding-top: 72px;
  border: 0;
}

.footer-icon-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  gap: 10px;
}
.footer-icon-item {
  width: 44px;
  height: 44px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  padding-left: 11px;
  padding-top: 11px;
}

.footer-icon-item:hover,
.footer-icon-item:focus {
  border: 1px solid #2196f3;
  background-color: #2196f3;
}
.footer-icon-socials {
  fill: #ffffff;
}
.social-media {
  margin-top: 72px;
  margin-left: 70px;
}
/*
.types-of-projects ul,
.types-of-projects__item li {
  list-style-type: none;
  display: inline;
  cursor: pointer;
}

.types-of-projects__item:focus,
.types-of-projects__item:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.types-of-projects {
  padding-top: 100px;
  padding-bottom: 1674px;
  background-color: #ffffff;
}

.types-of-projects {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

.projects-picture__title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: #212121;
}
.projects-picture__subtitle {
  font-style: normal;
  font-size: 16px;
  line-height: 1, 8;
  color: #757575;
}
.projects-grid-container__description {
  margin: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  background-color: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  color: #ffffff;
  top: 0;
  left: 0;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-grid__item:hover .projects-grid-container__description,
.projects-grid__item:focus .projects-grid-container__description {
  transform: translateY(0);
}

/* .all-projects {
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 1, 63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  padding: 6px 22px 6px 22px;
}


.types-of-projects__button {
  font-weight: 500;
  font-size: 16px;
  font-style: normal;
  line-height: 1, 63;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  color: #212121;
  width: auto;
  padding: 6px 22px 6px 22px;
}

.types-of-projects__button:focus,
.types-of-projects__button:hover,
.types-of-projects__button:active {
  cursor: pointer;
  background-color: #2196f3;
  color: rgb(236, 238, 240);
  border-radius: 2px;
  text-decoration: underline #2196f3;
}
.types-of-projects__button .link {
  background-color: #f5f4fa;
  cursor: pointer;
}
*/
.header-style {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.navi {
  font-weight: 500;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 15px 25px;
  letter-spacing: 0.02em;
}
.navi-list-first {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ffffff;
}

.navi-list-second {
  display: flex;
  justify-content: flex-end;
}
.webstudio {
  background-color: #ffffff;
}
.agencja {
  padding-left: 93px;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  content: "";
  top: 45px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 1);
}
.porfolio {
  padding-left: 46px;
  background-color: #ffffff;
}
.portfolio-contact {
  padding-left: 46px;
  background-color: #ffffff;
}

/*.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f4fa;
}
.team-list__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f5f4fa;
  padding-bottom: 94px;
  border-radius: 0px 0px 4px 4px;
  margin: 0;
  border-bottom: 0px;
  border-width: 0px;
  border-top: 0px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;
  background-color: #ffffff;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.projects-picture {
  border: 0px 1px 1px 1px solid #eeeeee;
}
.projects-grid__item {
  margin: 0;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-grid__item:hover,
.projects-grid__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-picture__title {
  font-weight: 700;
  letter-spacing: 0.06em;
  padding: 20px 0 4px 24px;
  line-height: 2em;
}
.projects-picture__subtitle {
  line-height: 1.875em;
  padding: 0 0 20px 24px;
  color: #757575;
}

.types-of-projects img {
  display: block;
}
/*
.team-member__item img {
  border-bottom-width: 0px;
  border-style: none;
  border-bottom: 0px;
}

.projects-grid-container {
  width: 370;
  height: 294;
  position: relative;
  overflow: hidden;
}
*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition-property: visibility, opacity, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
.modal {
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  text-align: right;
  cursor: auto;
  margin: auto;
}
.buton-modal {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;
}
.newsletter {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  margin-left: auto;
  justify-content: space-between;
  align-items: flex-end;
  width: 570px;
  padding-bottom: 20px;
}
.newsletter-label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-input {
  display: block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  margin-top: 20px;
  background-color: #2f303a;
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: white;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-label:focus-within,
.newsletter-label:hover {
  color: #2196f3;
}
.newsletter-input:focus-within {
  border: 1px solid #2196f3;
  outline: none;
}
.newsletter-label:hover .newsletter-input {
  border: 1px solid #2196f3;
}
.newsletter-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.newsletter-button {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: left;
  padding-left: 42px;
}
.newsletter-button:hover,
.newsletter-button:focus {
  background-color: #f5f4fa;
  color: #212121;
}
.newsletter-button::after {
  width: 24px;
  content: "";
  height: 24px;
  position: absolute;
  top: 13px;
  left: 148px;
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='icon send' d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='white'/%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-button:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath id='icon send' d='M24 0L0 13.5L7.66994 16.3407L19.5 5.25002L10.5017 17.3896L10.509 17.3923L10.5 17.3896V24.0001L14.8013 18.982L20.2501 21.0001L24 0Z' fill='black'/%3E%3C/svg%3E");
}

.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}
.name {
  position: relative;
  width: 448px;
  margin: 0 auto;
}
.name::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='person-black-18dp 1' clip-path='url(%23clip0_4082_869)'%3E%3Cpath id='Vector' d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_869'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.name:focus-within::after,
.name:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='person-black-18dp 1' clip-path='url(%23clip0_4082_869)'%3E%3Cpath id='Vector' d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_869'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.phone {
  position: relative;
  width: 448px;
  margin: 0 auto;
}
.phone::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='phone-black-18dp 1' clip-path='url(%23clip0_4082_875)'%3E%3Cpath id='Vector' d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.971 11.3252L9.63945 12.6568C7.59144 11.6147 5.91251 9.94296 4.87041 7.8877L6.20922 6.54888C6.5204 6.2377 6.67237 5.80349 6.62171 5.36205L6.41185 3.53836C6.325 2.80745 5.70988 2.25745 4.97173 2.25745H3.71976C2.902 2.25745 2.22175 2.93771 2.2724 3.75547C2.65595 9.93572 7.59868 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_875'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.phone:focus-within::after,
.phone:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='phone-black-18dp 1' clip-path='url(%23clip0_4082_875)'%3E%3Cpath id='Vector' d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.971 11.3252L9.63945 12.6568C7.59144 11.6147 5.91251 9.94296 4.87041 7.8877L6.20922 6.54888C6.5204 6.2377 6.67237 5.80349 6.62171 5.36205L6.41185 3.53836C6.325 2.80745 5.70988 2.25745 4.97173 2.25745H3.71976C2.902 2.25745 2.22175 2.93771 2.2724 3.75547C2.65595 9.93572 7.59868 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_875'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.email {
  position: relative;
  width: 448px;
  margin: 0 auto;
}
.email::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  top: 29px;
  left: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='email-black-18dp 1' clip-path='url(%23clip0_4082_881)'%3E%3Cpath id='Vector' d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_881'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.email:focus-within::after,
.email:hover::after {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='email-black-18dp 1' clip-path='url(%23clip0_4082_881)'%3E%3Cpath id='Vector' d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_881'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.order-label {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.order-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-bottom: 5px;
  padding-left: 42px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 1;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-input:focus-within,
.order-input:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.order-label-comment {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
  width: 448px;
  margin: 0 auto;
}
.order-textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding-left: 16px;
  padding-top: 12px;
  font-size: 16px;
  line-height: 1.2;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.order-textarea:focus-within,
.order-textarea:hover {
  border: 1px solid #2196f3;
  outline: none;
}
.order-textarea::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.acceptance-label {
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
  margin-top: 20px;
  gap: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.acceptance-label a {
  color: #2196f3;
}

.acceptance-checked {
  align-items: baseline;
  justify-content: left;
  text-align: center;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  gap: 9px;
  border: 2.5px solid #212121;
  margin-left: 2px;
  border-radius: 4px;
  fill: #ffffff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-background {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  visibility: hidden;
  margin-right: 9px;
  fill: #ffffff;
  background-color: #2196f3;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checked-background:active,
.checked-background:focus,
.checked-background:hover {
  background-color: #2196f3;
  fill: #ffffff;
  background-image: url(../images/icons.svg/icon-checked);
  border: 1px solid #ffffff;
  margin-right: 9px;
}

.acceptance-input {
  display: flex-end;
  padding: 0;
  margin: 0;
  position: absolute;
  visibility: hidden;
}

.acceptance-input:checked ~ .checked-background {
  visibility: visible;
  scale: 1.19;
  margin-right: 90px;
  background-image: url(../images/icons.svg/icon-checked);
  fill: #ffffff;
  background-color: #2196f3;
}
.acceptance-text {
  gap: 9px;
}

.checkbox-is-hidden {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.order-button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 20px;
}
.order-button:hover,
.order-button:focus {
  background-color: #f5f4fa;
  color: #212121;
}
