.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 550;
  background-color: rgba(0, 0, 0, 0.2);
  cursor: not-allowed;
  display: flex;
  visibility: visible;
  opacity: 1;
  transform: scale(1);
  transition: $transVisibility, $transOpacity, $transTransform;
  overflow-x: hidden;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
}
@media #{$tablet} {
  .backdrop {
    padding-left: 0;
    padding-right: 0;
  }
}
@media #{$desktop} {
  .backdrop {
    padding-left: 0;
    padding-right: 0;
  }
}
