.background {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-background.jpg);

  background-size: cover;
  background-position: 50% 50%;

  &__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    letter-spacing: 0.06em;
    line-height: 1.4;
    color: getColor("accentlight");
  }

  &__button {
    background-color: getColor("accent");
    color: getColor("accentlight");
    font-weight: 700;
    font-size: $fontSizeS;
    line-height: 1.875;
    max-width: 200px;
    padding: 10px 0;
    margin: 30px 118px;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    text-align: center;
    transition: background-color $transBackColor;
  }
  &__button:hover,
  &__button:active,
  &__button:focus {
    cursor: pointer;
    text-decoration: underline getColor("accent");
  }
}
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .background {
    background-image: url("../images/img-background@2x.jpg");
  }
}
@media #{$tablet} {
  .background {
    max-width: 768px;
  }
}
@media #{$desktop} {
  .background {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;

    &__title {
      font-size: 44px;
    }
  }
}
