.contact {
  display: flex;
  width: 321px;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;

  &__email {
    display: flex;
    width: 161px;
    justify-content: space-between;
    align-items: center;
    &:hover,
    &:focus {
      .icon-envelope {
        fill: getColor("accent");
      }
    }
    &:hover,
    &:focus {
      .email {
        color: getColor("accent");
      }
    }
  }
  &__telephon {
    display: flex;
    width: 130px;
    justify-content: space-between;
    align-items: center;
    &:hover,
    &:focus {
      .icon-smartphon {
        fill: getColor("accent");
      }
    }
    &:hover,
    &:focus {
      .telephon {
        color: getColor("accent");
      }
    }
  }
}
