.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__address {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: $fontSizeS;
    color: getColor("accentlight");
    letter-spacing: 0.03em;
    line-height: 1.2;
  }
  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9px;
  }
  &__invitation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 12px;
    padding-top: 60px;
    font-weight: 700;
    font-size: $fontSizeS;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("accentlight");
  }
}
@media #{$tablet} {
  .footer {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: baseline;
      flex-wrap: wrap;
    }
    &__contacts {
      justify-items: left;
      justify-content: flex-start;
      margin: 0 auto;
    }
    &__invitation {
      padding-top: 0;
    }
  }

  .join {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: nowrap;
  }

  .newsletter {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: 0 auto;
  }
}

@media #{$desktop} {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
      display: flex;
      flex-direction: column;
      justify-content: left;
      margin: 0 auto;
    }
    &__contacts {
      margin-right: 70px;
      justify-content: flex-start;
      align-items: left;
    }
    &__address {
      margin-top: 20px;
    }
    &__links {
      margin-top: 9px;
    }
    &__invitation {
      margin-bottom: 20px;
      margin-top: 12px;
    }
  }
}
