.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  &__container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  &__contacts {
    margin-bottom: 60px;
  }
  &__address {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: $fontSizeS;
    color: getColor("accentlight");
    letter-spacing: 0.03em;
    line-height: 1.2;
  }
  &__links {
    margin-top: 9px;
  }
  &__invitation {
    margin-bottom: 20px;
    margin-top: 12px;
    font-weight: 700;
    font-size: $fontSizeS;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("accentlight");
  }
}
@media #{$tablet} {
  .footer {
    &__container-contacts {
      display: flex;
      justify-content: space-evenly;
    }
    &__contacts {
      margin-bottom: 0;
    }
  }
}
@media #{$desktop} {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    &__container {
      display: flex;
      flex-direction: row;
      text-align: left;
    }
    &__container-contacts {
      display: flex;
    }
    &__contacts {
      margin-right: 70px;
      margin-bottom: 0;
    }
  }
}
