.goals {
  display: none;
}
.goals-title {
  display: none;
}
.goals-list {
  display: none;
}
@media #{$desktop} {
  .goals {
    display: flex;
  }
  .goals-list {
    display: flex;
    gap: 30px;
    background-color: getColor("accentlight");

    &__item {
      position: relative;
      max-width: 370px;
    }
    &__description {
      position: absolute;
      top: 224px;
      margin: 0;
      font-size: $fontSizeS;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: getColor("accentlight");
      width: 100%;
      padding-top: 27px;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
    }
  }
}
