.mobile-navi {
  overflow-x: hidden;
  &__link {
    color: getColor("elementary");
    font-weight: 500;
    font-size: 40px;
    letter-spacing: 0.02em;
    line-height: 1.2;
    display: flex;
    margin-bottom: 32px;
    transition: $transColor;
    &:hover,
    &:focus {
      color: getColor("accent");
    }
    &--accent {
      position: relative;
      color: getColor("accent");
    }
  }
}
