.newsletter {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  margin-left: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 570px;
  padding-bottom: 25px;
  padding-top: 40px;

  &__input {
    display: flex;
    align-items: center;
    max-width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    margin-top: 20px;
    background-color: #2f303a;
    padding-left: 16px;
    font-size: $fontSizeM;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: getColor("accentlight");
    transition: $trasBorder;
    &::placeholder {
      font-size: $fontSizeS;
      line-height: 1.25;
      letter-spacing: 0.03em;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: $fontSizeS;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("accentlight");
    transition: $transColor;
    &:hover,
    &:focus-within {
      color: getColor("accent");
      .newsletter__input {
        border: 1px solid getColor("accent");
      }
    }
  }
}
@media #{$tablet} {
  .newsletter {
    &__label {
      max-width: 768px;
    }
  }
}
@media #{$desktop} {
  .newsletter {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-top: 0;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 570px;
    padding-bottom: 25px;
    &__label {
      max-width: 358px;
      min-width: 358px;
      margin-bottom: 0;
    }
    &__btn-icon {
      margin: 0;
    }
  }
}
