.order {
  position: relative;
  width: 528px;
  height: 581px;
  text-align: center;
  background-color: getColor("accentlight");
  cursor: auto;
  margin: auto;

  &__btn-close {
    position: absolute;
    top: 8px;
    left: 490px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: getColor("accentlight");
    cursor: pointer;
  }
  &__title {
    margin-top: 40px;
    margin-bottom: 12px;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
  }
  &__name-container {
    position: relative;
    width: 448px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 29px;
      left: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='person-black-18dp 1' clip-path='url(%23clip0_4082_869)'%3E%3Cpath id='Vector' d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_869'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      transition: $transBackColor;
    }
    &:hover::after,
    &:focus-within::after {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='person-black-18dp 1' clip-path='url(%23clip0_4082_869)'%3E%3Cpath id='Vector' d='M9 9C10.6575 9 12 7.6575 12 6C12 4.3425 10.6575 3 9 3C7.3425 3 6 4.3425 6 6C6 7.6575 7.3425 9 9 9ZM9 10.5C6.9975 10.5 3 11.505 3 13.5V14.25C3 14.6625 3.3375 15 3.75 15H14.25C14.6625 15 15 14.6625 15 14.25V13.5C15 11.505 11.0025 10.5 9 10.5Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_869'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__telephone-container {
    position: relative;
    width: 448px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 29px;
      left: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='phone-black-18dp 1' clip-path='url(%23clip0_4082_875)'%3E%3Cpath id='Vector' d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.971 11.3252L9.63945 12.6568C7.59144 11.6147 5.91251 9.94296 4.87041 7.8877L6.20922 6.54888C6.5204 6.2377 6.67237 5.80349 6.62171 5.36205L6.41185 3.53836C6.325 2.80745 5.70988 2.25745 4.97173 2.25745H3.71976C2.902 2.25745 2.22175 2.93771 2.2724 3.75547C2.65595 9.93572 7.59868 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_875'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      transition: $transBackColor;
    }
    &:hover::after,
    &:focus-within::after {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='phone-black-18dp 1' clip-path='url(%23clip0_4082_875)'%3E%3Cpath id='Vector' d='M13.996 11.1226L12.1579 10.9127C11.7164 10.862 11.2822 11.014 10.971 11.3252L9.63945 12.6568C7.59144 11.6147 5.91251 9.94296 4.87041 7.8877L6.20922 6.54888C6.5204 6.2377 6.67237 5.80349 6.62171 5.36205L6.41185 3.53836C6.325 2.80745 5.70988 2.25745 4.97173 2.25745H3.71976C2.902 2.25745 2.22175 2.93771 2.2724 3.75547C2.65595 9.93572 7.59868 14.8712 13.7717 15.2548C14.5894 15.3054 15.2697 14.6252 15.2697 13.8074V12.5555C15.2769 11.8245 14.7269 11.2094 13.996 11.1226Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_875'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__email-container {
    position: relative;
    width: 448px;
    margin: 0 auto;
    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      top: 29px;
      left: 12px;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='email-black-18dp 1' clip-path='url(%23clip0_4082_881)'%3E%3Cpath id='Vector' d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%23212121'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_881'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
      transition: $transBackColor;
    }
    &:hover::after,
    &:focus-within::after {
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='email-black-18dp 1' clip-path='url(%23clip0_4082_881)'%3E%3Cpath id='Vector' d='M15 3H3C2.175 3 1.5075 3.675 1.5075 4.5L1.5 13.5C1.5 14.325 2.175 15 3 15H15C15.825 15 16.5 14.325 16.5 13.5V4.5C16.5 3.675 15.825 3 15 3ZM14.7 6.1875L9.3975 9.5025C9.1575 9.6525 8.8425 9.6525 8.6025 9.5025L3.3 6.1875C3.1125 6.0675 3 5.865 3 5.6475C3 5.145 3.5475 4.845 3.975 5.1075L9 8.25L14.025 5.1075C14.4525 4.845 15 5.145 15 5.6475C15 5.865 14.8875 6.0675 14.7 6.1875Z' fill='%232196F3'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_4082_881'%3E%3Crect width='18' height='18' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
    }
  }
  &__label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: getColor("secondary");
    margin-bottom: 10px;
  }
  &__input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-bottom: 5px;
    padding-left: 42px;
    padding-top: 12px;
    font-size: $fontSizeM;
    line-height: 1;
    transition: $trasBorder;
    &:focus-within,
    &:hover {
      border: 1px solid getColor("accent");
      outline: none;
    }
  }
  &__label-comment {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: getColor("secondary");
    margin-bottom: 10px;
    width: 448px;
    margin: 0 auto;
  }
  &__textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 120px;
    padding-left: 16px;
    padding-top: 12px;
    font-size: $fontSizeM;
    line-height: 1.2;
    transition: $trasBorder;
    &:focus-within,
    &:hover {
      border: 1px solid getColor("accent");
      outline: none;
    }
    &::placeholder {
      font-size: 12px;
      line-height: 1.5;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }
  }
  &__checkbox-substitute {
    width: 16px;
    height: 15px;
    border: 2.5px solid getColor("elementary");
    margin-right: 8px;
    border-radius: 4px;
    transition: $trasBorder;
    &:hover,
    &:focus {
      border: 4px solid getColor("elementary");
    }
  }
  &__label-acceptance {
    font-size: $fontSizeS;
    line-height: 2;
    letter-spacing: 0.03em;
    color: getColor("secondary");
    margin-bottom: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    .link-accept {
      color: getColor("accent");
      text-decoration: underline;
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &__checkbox-background {
    display: block;
    visibility: hidden;
    transition: $transVisibility;
  }
  .order__checkbox {
    &--hidden {
      appearance: none;
    }
    &:checked {
      + .order__checkbox-substitute {
        border: 0;
      }
    }
    &:checked {
      + .order__checkbox-substitute {
        .order__checkbox-background {
          display: block;
          visibility: visible;
          fill: getColor("accentlight");
          background-color: getColor("accent");
        }
      }
    }
  }
}
