.paragraph {
  padding: 94px 0px 94px 0px;
  background-color: getColor("accentlight");
  margin: 0 auto;
}

.paragraph-list {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  &__item {
    display: flex;
    height: 120px;
    border-radius: 4px;
    background: getColor("auxiliary");
    &__icon {
      margin: auto;
    }
  }

  &__title {
    margin-bottom: 10px;
    margin-top: 30px;
    font-size: $fontSizeS;
    letter-spacing: 0.03em;
    line-height: 1.1;
    background: getColor("accentlight");
    &__content {
      font-size: $fontSizeS;
      letter-spacing: 0.03em;
      line-height: 1.7;
      color: getColor("secondary");
      background: getColor("accentlight");
    }
  }
}
@media #{$tablet} {
  .paragraph-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    &__item {
      max-width: 354px;
    }
    &__content {
      max-width: 354px;
    }
  }
}
@media #{$desktop} {
  .paragraph-list {
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 94px;
    &__item {
      max-width: 270px;
    }
    &__content {
      max-width: 270px;
    }
  }
}
