.icons-footer {
  list-style: none;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;

  &__item {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 12px;
    background-color: rgba(255, 255, 255, 0.1);
    &:hover,
    &:focus {
      background-color: getColor("accent");
    }
  }
  &__image {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    fill: getColor("accentlight");
    &:hover,
    &:focus {
      fill: getColor("accentlight");
    }
  }
}
