.team {
  background-color: getColor("auxiliary");
}
.team-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}
@media #{$tablet} {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
  }
}
@media #{$desktop} {
  .team-list {
    flex-wrap: nowrap;
    flex-direction: row;
    margin: 0 auto;
  }
}
