.team-member {
  background-color: getColor("accentlight");
  margin: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  &__item {
    display: block;
    border: 0px;
    border-bottom: 0px;
    border-top: 0px;
    border-width: 0px;
    border-style: none;
    margin: 0;
    border-bottom-width: 0px;
    border-style: none;
    border-bottom: 0px;
  }

  &__names {
    margin: 0;
    border-bottom: 0px;
    border-top: 0px;
    border-style: none;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: $fontSizeS;
    line-height: 1, 19;
    color: getColor("elementary");
    background-color: getColor("accentlight");
    padding: 30px 0px 0px 0px;
  }
  &__description {
    font-size: $fontSizeXS;
    line-height: 1.71;
    color: getColor("secondary");
    background-color: getColor("accentlight");
    margin: 0 auto;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
  }
}
