.teamcard-socials {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  margin: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;

  &__image {
    fill: #afb1b8;
    transition: $transFill;
    display: flex;
    flex-direction: row;
    gap: 34px;
    justify-content: space-evenly;
    margin: auto;
    &:focus,
    &:hover {
      fill: getColor("accentlight");
    }
  }

  &__item {
    width: 45px;
    height: 45px;
    gap: 34px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding-top: 12px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: getColor("accentlight");
      background-color: getColor("accent");
    }
  }
}
