$colors: (
  "elementary": #212121,
  "secondary": #757575,
  "auxiliary": #f5f4fa,
  "accent": #2196f3,
  "accentlight": #ffffff,
  "accentdark": #000000,
  "strangeone": #2f303acc,
  "strangesecond": #afb1b8,
);
@function getColor($key) {
  @return map-get($colors, $key);
}
$fontFamilyMain: "Roboto", sans-serif;
$fontFamilyLogo: "Raleway", sans-serif;
$fontSizeXS: 14px;
$fontSizeS: 16px;
$fontSizeM: 18px;
$fontSizeL: 36px;
$fontSizeXL: 44px;

$transBackColor: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transColor: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
$trasBorder: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transFill: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

$transVisibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transOpacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
$transTransform: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
